html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-employee-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.add-employee-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-employee-container input[type="text"],
.add-employee-container input[type="number"],
.add-employee-container select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.finish-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #528822;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.finish-button:hover {
  background-color: #40691a;
}
